In [1]:
import pandas as pd
from uszipcode import SearchEngine
import math

In [2]:
# read in CALC data
calc = pd.read_csv("/Users/Jeanine/Downloads/CALC_predictive_modeling_withlocation1.csv", sep = "|")

In [3]:
# zipcode lookup
search = SearchEngine(simple_zipcode=True)

In [4]:
lat_list = []
lng_list = []
city_list = []
state_list = []

In [5]:
# get lat, long, city, and state for each row
z = 0
while z < len(calc):
    try:
        zip_return = search.by_zipcode(str(math.trunc(calc['zipcode'][z])))
    except ValueError:
        z += 1
        lat_list.append("")
        lng_list.append("")
        city_list.append("")
        state_list.append("")
    lat_list.append(zip_return.lat)
    lng_list.append(zip_return.lng)
    city_list.append(zip_return.city)
    state_list.append(zip_return.state)
    z += 1

In [6]:
calc['latitude'] = lat_list
calc['longitude'] = lng_list
calc['city'] = city_list
calc['state'] = state_list

In [7]:
calc['latitude'].replace(['', 'None'], 0, inplace=True)
calc['latitude'] = calc['latitude'].fillna(0)
calc['longitude'].replace(['', 'None'], 0, inplace=True)
calc['longitude'] = calc['longitude'].fillna(0)
calc.head(50)

,Unnamed: 0,c_row_id,c_labor,begin_date,end_date,c_edu_level,c_min_year_exp,c_current_year,c_next_year,c_second_year,jd_matching_allwyn,zipcode,city,state,latitude,longitude
0,0,9,Software Engineer,6/9/17,6/8/22,Bachelors,3,21.11,21.75,22.40,Senior Java Developer,80302.0,Boulder,CO,40.100,-105.400
1,1,28,Financial Analyst I,8/20/09,8/19/24,Bachelors,0,26.31,26.31,26.31,Senior Security Analyst,80228.0,Denver,CO,39.690,-105.150
2,2,32,Assistant Project Coordinator,6/7/18,6/6/23,Bachelors,2,27.21,NaN,NaN,IT Project Manager I,30097.0,Duluth,GA,34.020,-84.140
3,3,34,Marketing Analyst,5/16/17,5/15/22,Bachelors,2,27.64,28.46,29.32,IT Project Manager III,7095.0,Woodbridge,NJ,40.550,-74.280
4,4,36,Security Manager,6/2/19,6/1/24,Bachelors,1,27.98,NaN,NaN,Senior Security Analyst,10505.0,Baldwin Place,NY,41.341,-73.744
5,5,42,Test Proctor,12/23/16,12/22/21,Bachelors,1,28.57,NaN,NaN,Test Automation Engineer,NaN,,,0.000,0.000
6,6,46,Tax Analyst,5/16/17,5/15/22,Bachelors,1,29.09,29.97,30.87,Senior Java Developer,7095.0,Baldwin Place,NY,41.341,-73.744
7,7,47,PSI Analyst,5/16/17,5/15/22,Bachelors,1,29.09,29.97,30.87,Senior Java Developer,7095.0,Woodbridge,NJ,40.550,-74.280
8,8,48,Claim Analyst,5/16/17,5/15/22,Bachelors,5,29.09,29.97,30.87,Senior Java Developer,7095.0,Woodbridge,NJ,40.550,-74.280
9,9,57,Test Examiner,5/4/18,5/3/23,Bachelors,3,29.92,NaN,NaN,Test Automation Engineer,45315.0,Clayton,OH,39.850,-84.340
10,10,58,Assistant Project Coordinator,1/22/18,1/21/23,Bachelors,2,30.00,NaN,NaN,IT Project Manager III,30093.0,Norcross,GA,33.910,-84.180
11,11,59,Customs Specialist I,7/20/18,7/19/23,Bachelors,1,30.10,30.70,31.31,Senior Security Analyst,22314.0,Alexandria,VA,38.810,-77.070
12,12,82,AP/AR Analyst,5/16/17,5/15/22,Bachelors,5,31.85,32.80,33.79,IT Project Manager III,7095.0,Woodbridge,NJ,40.550,-74.280
13,13,83,Document Specialist,5/16/17,5/15/22,Bachelors,8,31.85,32.80,33.79,IT Project Manager III,7095.0,Woodbridge,NJ,40.550,-74.280
14,14,85,Transportation Analyst,5/16/17,5/15/22,Bachelors,3,32.00,32.96,33.95,IT Project Manager III,7095.0,Woodbridge,NJ,40.550,-74.280
15,15,87,Accounting Specialist,5/16/17,5/15/22,Bachelors,8,32.00,32.96,33.95,IT Project Manager III,7095.0,Woodbridge,NJ,40.550,-74.280
16,16,93,Index Specialist IV,7/5/18,7/4/23,Bachelors,8,32.44,33.15,33.88,Senior Security Analyst,21550.0,Oakland,MD,39.400,-79.400
17,17,105,Program Manager I,6/7/18,6/6/23,Bachelors,2,32.90,NaN,NaN,Senior Data Scientist,30097.0,Duluth,GA,34.020,-84.140
18,18,112,Project Manager I,6/7/17,6/6/22,Bachelors,3,33.50,NaN,NaN,Senior Java Developer,60602.0,Chicago,IL,41.883,-87.628
19,19,113,QA Specialist Sr,7/28/18,7/27/23,Bachelors,5,33.50,33.50,33.50,User Experience (UX) Developer,64116.0,Kansas City,MO,39.150,-94.570
20,20,117,Assistant Research Scientist I,12/6/16,12/5/21,Masters,3,33.61,34.18,34.76,IT Project Manager III,77843.0,College Station,TX,0.000,0.000
21,21,119,Security Support Clerk,7/5/18,7/4/23,Bachelors,3,33.75,34.50,35.26,IT Project Manager III,21550.0,Oakland,MD,39.400,-79.400
22,22,127,Project Coordinator,5/16/17,5/15/22,Bachelors,8,34.19,35.22,36.27,IT Project Manager III,7095.0,Woodbridge,NJ,40.550,-74.280
23,23,134,Co-Op Engineer / Scientist,5/24/17,5/23/22,Bachelors,0,34.51,35.20,35.90,Senior Java Developer,35806.0,Huntsville,AL,34.750,-86.680
24,24,148,PM Analyst,5/16/17,5/15/22,Bachelors,3,34.92,35.97,37.05,IT Project Manager III,7095.0,Woodbridge,NJ,40.550,-74.280
25,25,153,Sound Engineer,8/29/16,8/28/21,Bachelors,3,35.07,NaN,NaN,User Experience (UX) Developer,23669.0,Hampton,VA,37.050,-76.350
26,26,156,Research Analyst I,11/3/17,11/2/22,Bachelors,0,35.22,36.10,37.01,Senior Java Developer,22202.0,Arlington,VA,38.860,-77.050
27,27,162,Scientist I,8/16/17,8/15/22,Bachelors,2,35.73,36.80,37.91,Senior Java Developer,74015.0,Catoosa,OK,36.200,-95.700
28,28,164,Budget Analyst II,1/22/18,1/21/23,Bachelors,3,35.80,NaN,NaN,Senior Data Scientist,30093.0,Norcross,GA,33.910,-84.180
29,29,168,Information Security Consultant,5/16/17,5/15/22,Bachelors,8,35.96,37.04,38.15,Senior Security Analyst,7095.0,Woodbridge,NJ,40.550,-74.280
30,30,176,Financial Analyst I,6/7/18,6/6/23,Bachelors,1,36.22,NaN,NaN,Senior Security Analyst,30097.0,Duluth,GA,34.020,-84.140
31,31,178,Program Manager I,1/22/18,1/21/23,Bachelors,10,36.27,NaN,NaN,Senior Java Developer,30093.0,Norcross,GA,33.910,-84.180
32,32,179,Program Manager II,6/7/18,6/6/23,Bachelors,4,36.27,NaN,NaN,Senior Data Scientist,30097.0,Duluth,GA,34.020,-84.140
33,33,180,GIS Specialist,12/14/18,12/13/23,Bachelors,6,36.29,37.05,37.83,Senior Java Developer,22151.0,Springfield,VA,38.800,-77.210
34,34,181,Department Manager I,7/5/18,7/4/23,Bachelors,8,36.30,37.10,37.92,IT Project Manager I,21550.0,Oakland,MD,39.400,-79.400
35,35,183,Logistics Analyst,5/16/17,5/15/22,Bachelors,2,36.37,37.46,38.58,IT Project Manager III,7095.0,Woodbridge,NJ,40.550,-74.280
36,36,184,Customer Support Analyst,5/16/17,5/15/22,Bachelors,2,36.37,37.46,38.58,IT Project Manager III,7095.0,Woodbridge,NJ,40.550,-74.280
37,37,194,Audio Visual Engineer I,8/29/16,8/28/21,Bachelors,1,36.60,NaN,NaN,Senior Java Developer,23669.0,Hampton,VA,37.050,-76.350
38,38,196,Engineering Technician III,10/26/11,10/25/21,Bachelors,2,36.77,NaN,NaN,Senior Java Developer,30076.0,Roswell,GA,34.020,-84.310
39,39,198,Financial Analyst,5/16/17,5/15/22,Bachelors,6,36.86,37.97,39.11,Senior Java Developer,7095.0,Woodbridge,NJ,40.550,-74.280
40,40,201,Junior Analyst,5/9/19,5/8/24,Bachelors,1,37.10,37.84,38.60,Senior Java Developer,20001.0,Washington,DC,38.910,-77.020
41,41,216,Database Manager,3/14/07,3/13/22,Masters,3,37.49,37.49,37.49,IT Project Manager III,20815.0,Chevy Chase,MD,38.980,-77.080
42,42,223,Geopolitical Analyst II,7/20/18,7/19/23,Bachelors,3,37.62,38.37,39.14,Senior Java Developer,22314.0,Alexandria,VA,38.810,-77.070
43,43,228,Help Desk Support/Computer User Support Specia...,10/23/20,10/22/25,Bachelors,3,37.71,38.31,38.93,Senior Java Developer,23452.0,Virginia Beach,VA,36.850,-76.100
44,44,230,Content Manager,6/2/19,6/1/24,Bachelors,2,37.76,NaN,NaN,Senior Computer Security Systems Specialist,10505.0,Baldwin Place,NY,41.341,-73.744
45,45,232,Management Analyst I,6/7/18,6/6/23,Bachelors,2,37.80,NaN,NaN,Senior Security Analyst,30097.0,Duluth,GA,34.020,-84.140
46,46,241,IT Tech 8,2/8/17,2/7/22,Bachelors,1,37.93,38.69,39.46,Senior Java Developer,NaN,,,0.000,0.000
47,47,243,Logistics Analyst,11/29/17,11/28/22,Bachelors,3,37.96,38.72,39.50,Senior Java Developer,22314.0,Duluth,GA,34.020,-84.140
48,48,245,Analyst,7/20/18,7/19/23,Bachelors,2,37.99,38.75,39.53,Senior Data Scientist,22314.0,Alexandria,VA,38.810,-77.070
49,49,247,Project Administrator I,6/7/18,6/6/23,Bachelors,4,38.07,NaN,NaN,IT Project Manager I,30097.0,Duluth,GA,34.020,-84.140

In [23]:
# create list of locations that match bls clustering

In [8]:
# read in csv with BLS areas and their zipcode
bls_areas = pd.read_csv("/Users/Jeanine/Documents/DAEN690/bls_areas.csv")

In [9]:
# get lat and long for BLS areas
lat_list = []
lng_list = []

z = 0
while z < len(bls_areas):
    try:
        zip_return = search.by_zipcode(str(bls_areas['zipcode'][z]))
    except ValueError:
        z += 1
        lat_list.append("")
        lng_list.append("")
    lat_list.append(zip_return.lat)
    lng_list.append(zip_return.lng)
    z += 1

bls_areas['latitude'] = lat_list
bls_areas['longitude'] = lng_list

In [10]:
bls_areas

,region,zipcode,latitude,longitude
0,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",20001,38.910,-77.020
1,"Oakland-Hayward-Berkeley, CA Metropolitan Divi...",94501,37.770,-122.280
2,"Los Angeles-Long Beach-Glendale, CA Metropolit...",90001,33.970,-118.250
3,"Newark, NJ-PA Metropolitan Division",7102,40.740,-74.170
4,"Seattle-Bellevue-Everett, WA Metropolitan Divi...",98101,47.610,-122.330
5,"Boston-Cambridge-Newton, MA NECTA Division",2108,42.358,-71.064
6,San Francisco-Redwood City-South San Francisco...,94102,37.780,-122.420
7,"New York-Jersey City-White Plains, NY-NJ Metro...",10001,40.750,-73.990
8,"Framingham, MA NECTA Division",1701,42.320,-71.430
9,"Silver Spring-Frederick-Rockville, MD Metropol...",20901,39.020,-77.010
10,"Lowell-Billerica-Chelmsford, MA-NH NECTA Division",1850,42.660,-71.300
11,"Dallas-Plano-Irving, TX Metropolitan Division",75001,32.960,-96.840
12,"Anaheim-Santa Ana-Irvine, CA Metropolitan Divi...",92801,33.850,-117.960
13,"Montgomery County-Bucks County-Chester County,...",19406,40.090,-75.390
14,"San Rafael, CA Metropolitan Division",94901,37.970,-122.500
15,"Nassau County-Suffolk County, NY Metropolitan ...",11101,40.740,-73.940
16,"Wilmington, DE-MD-NJ Metropolitan Division",19801,39.730,-75.550
17,"Taunton-Middleborough-Norton, MA NECTA Division",2718,41.870,-71.020
18,"Philadelphia, PA Metropolitan Division",19106,39.950,-75.150
19,"Nashua, NH-MA NECTA Division",3060,42.730,-71.460
20,"Lake County-Kenosha County, IL-WI Metropolitan...",53140,42.620,-87.830
21,"Fort Worth-Arlington, TX Metropolitan Division",76006,32.780,-97.100
22,"Chicago-Naperville-Arlington Heights, IL Metro...",60007,42.010,-87.990
23,"Elgin, IL Metropolitan Division",60120,42.020,-88.250
24,Southwest Montana nonmetropolitan area,59701,46.100,-112.400
25,North Texas Region of Texas nonmetropolitan area,79101,35.200,-101.840
26,"Lawrence-Methuen Town-Salem, MA-NH NECTA Division",1840,42.710,-71.160
27,"Peabody-Salem-Beverly, MA NECTA Division",1960,42.530,-70.970
28,"Brockton-Bridgewater-Easton, MA NECTA Division",2324,41.970,-70.980
29,"Fort Lauderdale-Pompano Beach-Deerfield Beach,...",33301,26.120,-80.130
30,Northern Mountains Region of California nonmet...,96001,40.600,-122.500
31,East Kentucky nonmetropolitan area,41339,37.500,-83.300
32,Central Nebraska nonmetropolitan area,68822,41.500,-99.500
33,Northeast Florida nonmetropolitan area,32034,30.600,-81.500
34,Western Pennsylvania nonmetropolitan area,15106,40.410,-80.110
35,Low Country South Carolina nonmetropolitan area,29401,32.780,-79.930
36,Northern Vermont nonmetropolitan area,5602,44.300,-72.600
37,"Haverhill-Newburyport-Amesbury Town, MA-NH NEC...",1830,42.800,-71.060
38,Balance of Alaska nonmetropolitan area,99703,64.600,-147.200
39,"Los Alamos County, New Mexico nonmetropolitan ...",87544,35.900,-106.300
40,"Camden, NJ Metropolitan Division",8030,39.890,-75.120
41,"Warren-Troy-Farmington Hills, MI Metropolitan ...",48085,42.600,-83.120
42,Northwest Washington nonmetropolitan area,98225,48.740,-122.530
43,Southwest Missouri nonmetropolitan area,65619,37.120,-93.400
44,Mother Lode Region of California nonmetropolit...,96107,38.200,-119.200
45,"West Palm Beach-Boca Raton-Delray Beach, FL Me...",33401,26.720,-80.070
46,Northern Pennsylvania nonmetropolitan area,17745,41.300,-77.400
47,"Gary, IN Metropolitan Division",46402,41.590,-87.320
48,"Detroit-Dearborn-Livonia, MI Metropolitan Divi...",48127,42.330,-83.270
49,North Valley Region of California nonmetropoli...,95926,39.740,-121.840
50,Central Oregon nonmetropolitan area,97701,44.000,-121.300
51,Southwest Washington nonmetropolitan area,98837,47.200,-119.300
52,Southeast Alaska nonmetropolitan area,99801,58.000,-134.000
53,West Central New Hampshire nonmetropolitan area,3222,43.600,-71.800
54,Far West North Dakota nonmetropolitan area,58601,46.900,-102.800
55,Southwest New Hampshire nonmetropolitan area,3431,43.000,-72.300
56,"Lynn-Saugus-Marblehead, MA NECTA Division",1901,42.462,-70.946
57,"Tacoma-Lakewood, WA Metropolitan Division",98402,47.270,-122.470
58,West Texas Region of Texas nonmetropolitan area,79701,31.990,-102.080
59,"Dutchess County-Putnam County, NY Metropolitan...",12601,41.700,-73.900

In [11]:
# calculate the distance between two locations
from math import radians, cos, sin, asin, sqrt
def dist(lat1, long1, lat2, long2):
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [12]:
# determine shortest distance
def find_nearest(lat, long):
    distances = bls_areas.apply(
        lambda row: dist(lat, long, row['latitude'], row['longitude']), 
        axis=1)
    return bls_areas.loc[distances.idxmin(), 'region']

In [13]:
# add nearest BLS location to each CALC row
calc['nearest_loc'] = calc.apply(
    lambda row: find_nearest(row['latitude'], row['longitude']), 
    axis=1)

In [121]:
# export CALC location date
calc.to_csv("/Users/Jeanine/Documents/DAEN690/calc_scrape_w_locbins.csv", sep = "|")

In [14]:
# create df with the occurrences of each state in CALC dataset
from collections import Counter
state_ct = Counter(calc['state'])
dfstate = pd.DataFrame.from_dict(state_ct, orient='index').reset_index()

In [15]:
# rename the columns
dfstate = dfstate.rename(columns={"index": "state", 0: "count"})

In [16]:
# get the FIPS value for each state
df_sample = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/laucnty16.csv')

In [18]:
# get only the state code from FIPS dataset
dfsampsplit = []
s = 0
while s < len(df_sample):
    dfsampsplit.append(df_sample['County Name/State Abbreviation'][s].split(", ")[-1])
    s+=1
df_sample['state'] = dfsampsplit
dic = {'District of Columbia': 'DC'}
df_sample = df_sample.replace(dic)

In [19]:
# create a df of just the state codes and FIPS based on above result
(df_sample['state'].append(df_sample['State FIPS Code'])).unique()
data = {'state':['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'PR'],
        'fips':[1, 2, 4, 5, 6, 8,
       9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44,
       45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 72]}
statefips = pd.DataFrame(data)

In [20]:
# merge with the CALC counts
dfstate = dfstate.merge(statefips, how='left', on='state')

In [64]:
# remove blanks and NA counts
dfstate = dfstate.drop(dfstate.index[[4, 18]])

In [65]:
dfstate['count'] = pd.to_numeric(dfstate['count'])

In [63]:
# plot state counts from CALC data
import plotly.express as px

fig = px.choropleth(dfstate, locations="state", color="count", 
                    locationmode="USA-states",
                    scope="usa",
                    color_continuous_scale=px.colors.sequential.Purp,
                    range_color=(0,dfstate['count'].max()),
                    title="GSA CALC Contracts by State")
fig.update_layout(coloraxis_colorbar=dict(
    title="Total Number of Contracts",
    thicknessmode="pixels", thickness=50,
    lenmode="pixels", len=350,
    yanchor="top", y=1,
    ticks="outside"
))
fig.show()